extends ../../layout

block content
    div.list-group
        div.list-group-item
            span(class='list-icon glyphicon glyphicon-briefcase')
            a(href='/report/most_popular_route') Report 1 (most popular route)
        div.list-group-item
            span(class='list-icon glyphicon glyphicon-briefcase')
            a(href='/report/most_profitable_route') Report 2 (most profitable route)
        div.list-group-item
            span(class='list-icon glyphicon glyphicon-briefcase')
            a(href='/report/sold_tickets_on_given_train') Report 3 (sold tickets on given train)
        div.list-group-item
            span(class='list-icon glyphicon glyphicon-briefcase')
            a(href='/report/routes_without_sold_tickets') Report 4 (routes without sold tickets)
