extends ../../layout

block content
  div(class='col-md-6')
    form(id='ticket-delete-form' name='ticket-delete-form' class='form-horizontal' method="POST" action='')
      input(id='id' type="hidden" name='id' value=ticket.id class='form-control')
      div(class='form-group')
        div(class='col-md-12') Number: #{ticket.number};
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Delete
