extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li= title
    form(id='update-form' name='update-form update-form-hidden' class='form-inline update-form' action='')
        div(class='form-group')
            div(class='col-md-7')
                label(for='update_number') New Number
            div(class='col-md-9')
                input(id='update_number' name='update_number' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-7')
                label(for='update_price') New Price
            div(class='col-md-9')
                input(id='update_price' name='update_price' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(id='btn-update' type='submit' class='btn btn-primary') Update
        div(class='form-group')
            div(class='col-md-12')
                button(id='btn-cancel' type='button' class='btn btn-danger') Cancel

    form(id='ticket-add-form' name='ticket-add-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='number') Number
            div(class='col-md-9')
                input(id='number' name='number' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='price') Price
            div(class='col-md-9')
                input(id='price' name='price' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Create
        div.list-wrapper
            table(id='ticket-list')
block append scripts
    script(src='/static/js/models/ticket.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/ticket.js')