extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li= title
    form(id='update-form' name='update-form update-form-hidden' class='form-inline update-form' action='')
        div(class='form-group')
            div(class='col-md-7')
                label(for='update_name') New Name
            div(class='col-md-9')
                input(id='update_name' name='update_name' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-7')
                label(for='update_departure') New Departure point
            div(class='col-md-9')
                input(id='update_departure' name='update_departure' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-7')
                label(for='update_destination') New Destination point
            div(class='col-md-9')
                input(id='update_destination' name='update_destination' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-7')
                label(for='update_number') New Number
            div(class='col-md-9')
                input(id='update_number' name='update_number' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(id='btn-update' type='submit' class='btn btn-primary') Update
        div(class='form-group')
            div(class='col-md-12')
                button(id='btn-cancel' type='button' class='btn btn-danger') Cancel

    form(id='train-add-form' name='train-add-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='name') Name
            div(class='col-md-9')
                input(id='name' name='name' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='departure') Departure point
            div(class='col-md-9')
                input(id='departure' name='departure' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='destination') Destination point
            div(class='col-md-9')
                input(id='destination' name='destination' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='number') Number
            div(class='col-md-9')
                input(id='number' name='number' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Create
        div.list-wrapper
            table(id='train-list')
block append scripts
    script(src='/static/js/models/train.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/train.js')