extends ../../layout

block content
  div(class='col-md-6')
    form(id='train-delete-form' name='train-delete-form' class='form-horizontal' method="POST" action='')
      input(id='id' type="hidden" name='id' value=train.id class='form-control')
      div(class='form-group')
        div(class='col-md-12') Name: #{train.name}; Number:  #{train.number};
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Delete
